<!DOCTYPE html>

<html>
<head>
    <title>Get Out!</title>
    <link rel="stylesheet" href="static/css/GetOut.css">
</head>
<body>
    <div class="form-style">
        <h1>Get Out!</h1>
        <div class = "sub-head">Where do you want to get out?</div>
        <form action="user_location">
            <input type="text" name="city" placeholder="City">
            <br>
            <input type="text" name="state" placeholder="State">
            <br>
            <div class="button-holder">
                <input type="submit">
            </div>
        </form>
    </div>
</body>
</html>